
*{
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
}

/* primera parte de la pag. hasta tarjeta carrusel */
.web-1{
    background: url(img/Enmascarar-grupo-289@2x.webp) no-repeat;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 50px;
}

.logo1{
    text-align: center;
    margin-top: 25px; 
    margin-left: auto;
    margin-right: auto;
}
.logo1 img{
    height: 95px;
    width: 86.33px;
}

.titulo{
    line-height: 40.95px;
    font-size: 35px;
    font-weight: 700;
    color:#002b39;
    margin-left: auto;
    margin-right: auto;
    max-width: 62%;
}
.titulo p{
    text-align: center;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 12px;
}

.button{
    text-align: center;
    margin-bottom: 2.75%;
}
.button a{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid inherit;
    border-radius: 5px;
    background-image: linear-gradient(0deg,#007fff 0%,#00b1ff 100%);
    box-shadow: 0px 15px 12px 0px #99b0be59;
    display: inline-block;
    padding: 13px 29px 22px 24px;
}

.button a:hover{
    color: #1489ff ;
    border: 1px solid #007fff; 
    background-image: initial;
    border-radius: 5px;
    padding: 13px 29px 22px 24px;
}

.espacioTarjeta{
    height: 250px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 692px 1fr;
    align-items: center;
    justify-items: center;
    
}
.flechas{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    border: none;
    padding: 0;
    box-shadow: 0px 0px 5px 0px rgba(81,81,81,.47);
}
span img{
    height: 25px;
    width: 40px;
    cursor: pointer;
}

.tarjetaMarco{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.tarjetaCuerpo{
    padding: 40px 29px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0 rgba(26,72,100,.15);
    border: solid 1px #c3d5e0;
    background-image: linear-gradient(to bottom, #fff 45%, #fff 78%, #f8fcff);
    height: 265px;
}
.ladoIzquierdo{
    display: grid;
    place-self: center;
}

.ladoIzquierdo img{
    width: 237px;
    height: 237px;
    object-fit: cover;
}

.nombrePersona{
    font-size: 27px;
    line-height: 32px;
    color: #002b39;
    font-weight: 500;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    font-weight: 500;
}

h5{
    display: inline;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #1489ff;
}
.stars{
    display: flex;
    column-gap: 10px;
}
.stars img{
    width: 20px;
    height: 20px;
}

.presentacion p{
    font-weight: 300;
}

/* herramientas para crear curso online */
.productos{
    width: 85%;
    margin: 40px auto 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    align-items: center;
    line-height: 30px;
}
.tarjetaSola{
    font-size: 25px;
    color: #272c30;
}
.tarjetaSola img{
    width: 320px;
}
.tarjetaSola h4{
    font-weight: 600;
}
.tarjetaSola p{
    font-size: 18px;
    font-weight: 300;
    width:280px;
    margin-left: auto;
    margin-right: auto;
}

/* como crear la cuenta y curso en pag. */
.instrucciones{
    display: block;
    max-width: 868px;
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #002b39;
}
.instrucciones h2{
    font-size: 42px;
    line-height: 48px;
}
.seccion3columnas .columna div{
    display: block;
    background-size: cover;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}
.columna img{
    max-width: 50px;
    max-height: 50px;
    
}
.img_1{
    background: url(img/Grupo%209210@2x.webp) no-repeat;
}
.img_2{
    background: url(img/Grupo%207025@2x.webp) no-repeat;
}
.img_3{
    background: url(img/Grupo%207024@2x.webp) no-repeat;
}
.img_1:hover{
    background: url(img/nuevo7023.svg) no-repeat;
}
.img_2:hover{
    background: url(img/nuevo7025.svg) no-repeat;
}
.img_3:hover{
    background: url(img/nuevo7026.svg) no-repeat;
}
.seccion3columnas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: url(img/Rectángulo%208199@3x.webp) no-repeat;
    background-size: 70%;
    background-position: center;
    margin-bottom: 50px;
}
.columna div:hover{
    cursor: pointer;
}

/* imagenes sobrepuestas */
.imagenesJuntas{
    background-image: url(img/Enmascarar-grupo-258402x.png);
    background-repeat: no-repeat;   
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.zindex-1{
    position: relative;
    left: 187px;
}
.zindex-1 img{
    max-width: 100%;
    z-index: 5;
    position: relative;
}
.zindex-2{
    position: relative;
    left: -87px;
    bottom: 60px;
}  
.zindex-2 img{
    max-width: 100%;
}

/* 2do bloque de pagina con mini tarjetas */
.web-2{
    margin-top: 80px;
    background-position: top center;
    background-image: url(img/Enmascarar-grupo-259.webp);
}
.cajaTarjetas{
    padding-top: 150px;
    padding-bottom: 4px;
    margin-right: 10%;
    margin-left: 10%;
    background-size: cover;
    position: relative;
}
.tituloCaja{
    margin-left: auto;
    margin-right: auto;
    color: #002b39;
    max-width: 490px;
}
.tituloCaja h2{
    margin: 0;
    text-align: center;
    line-height: 40px;
    font-size: 36px;
}
.tresx4{
    cursor: pointer;
    margin-bottom: 65px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.tarjCaracteristica{
    display: grid;
    color: #002b39;
    margin: 15px 6%;
    padding: 22px 5%;
    border-radius: 10px;
    box-shadow: 0 20px 15px 0 rgba(26, 72, 100, 0.1);
    border: solid 1px #c3d5e0;
    background-image: linear-gradient(to bottom, #fff, #fff 78%, #f0feff);
}
.tarjCaracteristica:hover{
    border: 1px solid #007fff; 
}
.tarjCaracteristica img{
    height: 35px;
    width: 35px;
    justify-self: center;
    margin-bottom: 0.5rem;
}
.tarjCaracteristica span{
    text-align: center;
    font-size: 16px;
    line-height: 21px;
}
.bold{
    font-weight:700;
    text-align: center;
}


.web-3{
    background-image: linear-gradient(90deg,#1489ff 0%,#0073e6 100%);
    padding: 40px 140px;
    margin-top: 120px;
}
.footerLogos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #fff;
    align-items: center;
}
.footerIzquierda img{
    width: 63px;
    height: 69.5px;
}
.footerDerecha{
    height: 70px; 
    width: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footerDerecha img{
    width: 25px;
    height: 25px;
    justify-self: end ;
    align-self: center;
}
.politicas{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.politicas p{
    padding-top: 30px;
    padding-left: 20px;
}


@media only screen and (max-width: 767px){ 
    .logo1 img{
        height: 55px;
        width: 50px;
    }
    .button a{
        font-size: 16px;
        padding: 12px 37px;
    }
}

